[2017-11-11 21:43] matjames007 opened #2 "User Registration: Email not sent with Activation Link"
The user registration flow is broken.  Unable to register and receive the activation token for email confirmation.  No integration with a mail service done.

[2017-11-11 21:44] matjames007 opened #3 "User Registration: Password not hashed on encrypted"
This is a security flaw and the password should be hashed and saved during registration.  The password is also visible in cleartext.

[2017-11-11 21:45] matjames007 opened #4 "User Login: Credentials are not hashed or encrypted"
The password must be hashed and transmitted to the backend for authentication.

[2017-11-11 21:47] matjames007 opened #5 "User Profile: Default landing page shown"
<img width="957" alt="screen shot 2017-11-11 at 4 46 36 pm" src="https://user-images.githubusercontent.com/1425164/32693853-eeae1ac0-c6ff-11e7-9e9a-f9fd4ae7afed.png">
This screen should show relevant information about the user's profile - allow for entering of demographic information and possible logs of activities.

[2017-11-11 21:49] matjames007 opened #6 "Data Association: Categories"
IPCC Categories and Local categories are not being captured accurately and as a result the relationship between the two categories are broken.

[2017-11-11 21:51] matjames007 opened #7 "Data Association: Activities"
IPCC Activities and Local Activities are not being captured accurately and as a result the relationship between the two activities are broken.

[2017-11-11 21:52] matjames007 opened #8 "Notation Keys: Management of NK"
The ability to manipulate the Notation Keys is not present on the system.  We are unable to create, edit and disable the notation keys.

[2017-11-11 21:54] matjames007 opened #9 "Auditing: Feature is not available"
Information logging should be added to the platform stack for use in auditing.  This should be developed so that it can be used for alert notifications, auditing and debugging.  Recommendation for Winston or similar logger to be used.

[2017-11-11 21:55] matjames007 opened #10 "Reporting: Widestage Integration"
<img width="152" alt="screen shot 2017-11-11 at 4 54 28 pm" src="https://user-images.githubusercontent.com/1425164/32693898-08b5257a-c701-11e7-9115-f9ef4f2816da.png">
The reporting stack has not been integrated into the platform and is essential to the fulfillment of the UNDP deliverable.

[2017-11-11 21:57] matjames007 opened #11 "Data: Notes are excluded from import"
<img width="466" alt="screen shot 2017-11-11 at 4 56 18 pm" src="https://user-images.githubusercontent.com/1425164/32693904-49458418-c701-11e7-8d01-906db99ba416.png">
When the data import has been done - the notes are not captured and therefore not displayed for user manipulation.

[2017-11-11 22:00] matjames007 opened #12 "Data: Appending to notes"
The platform currently does not have the ability to append to the notes of a particular item.  The feature is needed for sector experts to detail sources and other additional information about a particular record.

[2017-11-11 22:01] matjames007 opened #13 "Comments: Feature missing"
Unable to make comments on any entity system wide.  This is to be developed.

[2017-11-11 22:16] matjames007 opened #14 "Data: Emission Factor not captured properly"
The system must be able to specify that for a particular Emission Factor (EF) it is to be applied across all years.  If an emission factor is found for a specific year then it should use the specific year.
The code below could then be used to apply the emission factor to the activity data for calculations.  It requires a flag to indicate that it is "global"

[code]

[2017-11-11 22:21] matjames007 opened #15 "Supporting Files: feature not included"
This uploading feature is not present in the application and the screens and database schema requires modification.

_**What the screen should look like:**_
<img width="889" alt="screen shot 2017-11-11 at 5 18 31 pm" src="https://user-images.githubusercontent.com/1425164/32694042-78015e50-c704-11e7-9ff4-380ac763c041.png">

**_What is currently being presented:_**
<img width="720" alt="screen shot

[2017-11-11 22:23] matjames007 opened #16 "User Permissions: Sector based permissions missing"
This functionality has not been implemented.

[2017-11-11 22:24] matjames007 opened #17 "Regions: data import is missing region information"
Unable to upload region specific information and unable to display and manipulate these data points.

[2017-11-11 22:25] matjames007 opened #18 "Server: Development Server Setup"
Credentials sent with VPN and server details.  Setup is to be completed asap!

[2017-11-11 22:27] matjames007 opened #19 "Data: Overwrite warning is needed"
There is currently no logic on the application to display a warning for the overwriting of data.
<img width="307" alt="screen shot 2017-11-11 at 5 26 28 pm" src="https://user-images.githubusercontent.com/1425164/32694120-919babc6-c705-11e7-991d-3c9e80ab3463.png">

[2017-11-11 22:30] matjames007 opened #20 "Sector: filtering of sector is needed on data page"
<img width="763" alt="screen shot 2017-11-11 at 5 28 22 pm" src="https://user-images.githubusercontent.com/1425164/32694125-ce3661f2-c705-11e7-938b-2a482166cc4c.png">
The selection of sector is important for sector experts.  Sector experts will be restricted to making modifications to a specific sector's data.

[2017-11-11 22:31] matjames007 opened #21 "ETL: IPCC categories missing"
The platform must include IPCC categories which are currently missing from the platform.

[2017-11-13 13:44] matjames007 commented on #21
This task has been completed.

[2017-11-13 13:44] #21 closed

[2017-11-13 13:45] matjames007 commented on #20
This task has been completed.  See associated pull request.

[2017-11-13 13:45] #20 closed

[2017-11-14 06:07] gilgad commented on #11
Notes are now being imported and displayed as a field. Additionally notes can be edited for a selected row.

[2017-11-14 06:08] gilgad commented on #12
When a row has been selected editing can be done in the issues/notes popover using the appropriate objects.

[2017-11-14 06:08] gilgad commented on #8
added enabled field to notaion key model. updated create and update of notation key to include enabled parameter.

[2017-11-21 21:42] matjames007 commented on #7
This issue has been rectified based on PR#25

[2017-11-21 21:42] #7 closed

[2017-11-21 21:43] matjames007 commented on #6
Completed.

[2017-11-21 21:43] #6 closed

[2017-11-21 21:43] matjames007 commented on #12
completed.

[2017-11-21 21:43] #12 closed

[2017-11-21 21:44] matjames007 commented on #11
completed.

[2017-11-21 21:44] #11 closed

[2017-11-21 21:44] matjames007 commented on #8
completed.

[2017-11-21 21:44] #8 closed

[2017-11-28 02:17] matjames007 commented on #17
Completed

[2017-11-28 02:17] #17 closed

[2017-11-28 02:18] matjames007 commented on #19
The warning and issues are now being captured - however I have just realized it was not being persisted to the database.

[2017-11-28 02:19] matjames007 commented on #15
@gilgad I am not as familiar with importing files.  Could you assist with this?  For more info give me a call.

[2017-12-07 14:16] matjames007 commented on #4
completed

[2017-12-07 14:16] #4 closed

[2017-12-07 14:16] matjames007 commented on #5
see pull request #30

[2017-12-07 14:17] matjames007 commented on #9
see pull request #30

[2017-12-07 14:17] matjames007 commented on #3
completed

[2017-12-07 14:17] #3 closed

[2017-12-10 08:52] matjames007 opened #31 "Date Not Accurately Represented"
All dates being stored in the database are being represented in a flavour of ISO8601.  However the uigrid object used to render the data in tables are currently only able to use javascript dates.  Some effort is needed to modify this.

[2017-12-10 09:01] #5 closed

[2017-12-10 09:02] matjames007 commented on #16
completed

[2017-12-10 09:02] #16 closed

[2017-12-10 09:05] matjames007 opened #32 "Suggestions during data import"
Currently only categories are being suggested for change during import.  The same should happen for:

- [x] Activities
- [x] Gases
- [x] Regions
- [x] Units

[2017-12-11 22:10] matjames007 commented on #31
Upon further investigation... the logic is sound.  The time inconsistency is as a result of the difference in the timezone of the server and the application server.  This will not be the case as both will be hosted on the same physical and logical server.

[2017-12-11 22:10] #31 closed

[2017-12-12 16:01] matjames007 commented on #15
Completed in PR#33

[2017-12-12 16:01] #15 closed

[2017-12-13 03:21] #32 closed

[2017-12-13 19:25] densoutar commented on #2
<img width="1440" alt="screen shot 2017-12-13 at 2 18 46 pm" src="https://user-images.githubusercontent.com/15874753/33958061-6ccff99e-e011-11e7-8d4a-7cd450a184b7.png">

Is this what happens when you try to register?

[2017-12-13 22:20] matjames007 commented on #2
This occurs because the server has not been setup with the email credentials needed to send the welcome message with activation token.

[2017-12-13 22:49] matjames007 opened #37 "Inadvertent Loss of Information"
The user can potentially lose information by hitting back on the page.  The user should be prompted before navigating away.

[2017-12-13 23:00] matjames007 opened #38 "Label Change"
Label Change is needed for button which currently says "Persist to Database".  Should read "Save to Database".

[2017-12-13 23:01] matjames007 opened #39 "Discard Changes to Grid"
Currently no ability to discard changes made to the grid.

[2017-12-13 23:51] matjames007 opened #41 "All users can view all logs"
Only platform administrators should have the ability to view the logs.

[2017-12-14 00:14] #37 closed

[2017-12-14 00:14] #38 closed

[2017-12-14 00:14] #39 closed

[2017-12-14 00:14] #41 closed

[2017-12-14 17:11] matjames007 commented on #14
This is being worked on in PR #34

[2018-01-03 15:47] denferg opened #48 "Error Handling: Full page error message requires updated links and messaging"
The "We've Run Into a Problem" page contains links to allow the user to try the last action again, or to contact the admin. The links and messaging on it need to be updated as follows:
* The contact e-mail currently provided is admin@slashroots.org. This needs to replaced with the contact e-mail for the actual database admin.
* The try again link needs to allow the user to return to the previous p

[2018-01-03 15:49] denferg opened #49 "User Profile: Admin log descriptions are too generic"
We need to define and provide the level of detail that is useful for audit purposes.
<img width="1440" alt="screen shot 2017-12-12 at 12 20 02 pm" src="https://user-images.githubusercontent.com/15874753/34527509-c1f6b8a0-f073-11e7-9088-bad3abfa9a79.png">

[2018-01-03 15:52] denferg opened #50 "Manage Supporting Documents: Attempt to download files fails and triggers time-out"
Attempt to download supporting file fails. Browser's download manager (Chrome on MacBook Pro, MacOs Sierra) first sites server error, and, on attempt to resume, further says "needs authorisation".

On closing the supporting documents modal, the application behaves as if it has timed-out, e.g. no data or dropdown menu options are displayed.

<img width="1440" alt="screen shot 2017-12-13 at 10 18 25

[2018-01-03 15:53] denferg opened #51 "All activities in the Platform Log have the same time stamp"
User Log Timestamps - All activities listed in the Platform Log on the User Profile page have the same timestamp, despite being done at different times

[2018-01-03 15:53] denferg opened #52 "Table errors and changes need clearer visual differentiation"
Using red to indicate both upload issues and changes that have not yet been saved to the database are currently creating some user confusion.

[2018-02-07 23:39] matjames007 opened #54 "Incorrect Error Displayed"
During the importing process of the CSV file.  I noticed that an incorrect message is shown to the user.  It should be "Activity Not Found"

<img width="292" alt="screen shot 2018-02-07 at 6 37 18 pm" src="https://user-images.githubusercontent.com/1425164/35947505-288b4648-0c36-11e8-8890-9ac7ad1aaf57.png">

[2018-02-07 23:45] matjames007 commented on #54
Category is also displayed for units and any other missing elements

[2018-02-08 00:58] matjames007 opened #55 "Negative Variable Values"
The platform is unable to import files with negative variable values.  Angular causes the tab to freeze and doesn't proceed.

[2018-02-12 01:53] matjames007 commented on #55
Fixed with PR#56

[2018-02-12 01:53] #55 closed

[2018-02-15 16:39] matjames007 opened #57 "No Feedback from Calculation Screen"
<img width="875" alt="screen shot 2018-02-15 at 11 37 32 am" src="https://user-images.githubusercontent.com/1425164/36268518-a8e1572e-1244-11e8-9c6e-88cbeb590cfe.png">
When changes are made on this screen - there are no UI feedback to indicate this.  On the data screen we highlighted the Save button to indicate that there are pending changes.

Also when the user navigates away from this screen the

[2018-02-15 16:50] matjames007 opened #58 "Emission Factor Values Missing"
This is an oversight on my part.  The output value of the calculations were the most important bit of information on this screen however there are two missing elements on the screen.  These are relatively easy to add as the data exists.
<img width="875" alt="screen shot 2018-02-15 at 11 37 32 am" src="https://user-images.githubusercontent.com/1425164/36269079-3f3d2918-1246-11e8-9c56-83e7570a435a.p

[2018-02-15 17:02] matjames007 opened #59 "Percentage Uncertainty"
<img width="1177" alt="screen shot 2018-02-15 at 11 52 44 am" src="https://user-images.githubusercontent.com/1425164/36269701-d0fc1aa2-1247-11e8-9191-68322905be49.png">
The platform should indicate the uncertainty as a result of the calculations.  These uncertainties are based on the observed uncertainties at the point of data collections for the specific activity.  These are usually expressed as

[2018-02-15 17:34] paradoxxjm opened #60 "Calculations - Checkered Box Before Inventory is selected"
Currently, the Calculations page shows a checkered box on the screen before an inventory is selected. I suspect this space is filled in with the appropriate element when the drop-down is selected. Can the default background be assigned to the application background colour?

![ghg-calculationsscreen-checkedbox](https://user-images.githubusercontent.com/406181/36271415-8f00f5aa-124c-11e8-91e7-6899c6

[2018-02-15 17:39] paradoxxjm opened #61 "Data Table - Add Label to the recently added Unique Identifier Column"
Currently, the Unique Identifier column does not have a column label. This should be corrected. I propose using label text "ID".

![ghg-datatable-uniqueidentifiercolumn](https://user-images.githubusercontent.com/406181/36271649-35642516-124d-11e8-9fd7-ee319eb4c604.png)

[2018-02-15 17:46] paradoxxjm opened #62 "Data Table Selected Column Highlight Remains off"
When the user selects a row, the application highlights the row and adds a checkmark to the table. However, the calculation to generate checkmark and the row highlight seem to be off by one. See below:

![ghg-datatable-rowhighlightoffset](https://user-images.githubusercontent.com/406181/36272005-39c686e8-124e-11e8-8436-47b1fbb1d124.png)

[2018-02-15 17:52] paradoxxjm opened #63 "Data Table - Data Issue Flag"
In the data table, the application is expected to flag issues with the data rows by adding a red glad to the column. This provides the user with a visual cue of what rows entered need the user's attention. Currently, the application data table is showing no such data error flags. However, when you select a particular row, the context pane (right side) indicated that there are a number of issues wi

[2018-02-15 18:07] paradoxxjm opened #64 ""Closing an Inventory" Feature"
Currently, the application does not allow an inventory manager or admin user to "close" an inventory. A few design considerations that need to be fulfilled for this feature

- Closing an inventory should prevent further changes (e.g modifications to settings, data table, calculations, etc,) by all users.
- Only an Inventory Manager or Administrator should be able to re-open an inventory
- Administ

[2018-02-15 18:30] matjames007 commented on #64
@paradoxxjm this actually exists currently - however the error messaging in the platform requires some work.

[2018-02-16 02:32] densoutar commented on #64
Noted @matjames007; but for the record, other constraints:

- Closed inventories should be visibly tagged as closed in the Data, Calculations and Reporting pages.
- Attempt to re-openan inventory should be confirmed.

[2018-02-16 02:41] #52 closed

[2018-02-16 02:51] denferg opened #65 "Inconsistent display of significant figures"
Numbers should be displayed according to the same formats (the IPPC has requirements for significant figures). The Calculations page for example displays both rounded off figures and figures to a number of decimal places, making checking calculations confusing.

<img width="1440" alt="screen shot 2018-02-15 at 9 46 59 pm" src="https://user-images.githubusercontent.com/15874753/36291658-693bc9e6-12

[2018-02-16 02:56] denferg opened #66 "System is unresponsive after period of non-use"
After some time of non-use (wasn't able to determine how long), navigating away from and returning to the Data or Calculation pages results in no options being displayed in the reporting period and sector drop downs, and no data being displayed on the page.

It's as if it has timed out, without any indication that it has done so, and you need to sign back in to continue working.

[2018-02-16 03:06] denferg opened #67 "Misleading Four-Way Pointer on Calculations Page"
Normal mouse pointer turns into four-way pointer on Calculations, misleadingly indicating that drag'n'drop interactions are required.

![img_20180215_220005135](https://user-images.githubusercontent.com/15874753/36291904-1825165a-129c-11e8-8563-a7c99fd77e9c.jpg)

[2018-02-16 03:52] denferg opened #69 "More clarifying details required on Calculations page"
Subsumes issues #58 & #59:

There's not enough differentiating information about the activities, emissions factors and emissions estimate. Recommended changes attached. It includes restructuring the AD and EF labels so that data type, category and activity are listed in the same order, as well as only showing the uncertainty for the emissions.

<img width="1227" alt="revised calculations screen" s

[2018-02-16 03:58] denferg opened #71 "Duplicated EF"
There's a pair of duplicate EFs in the Calculations page. If one is deselected, it disappears.

<img width="1440" alt="duplicate efs" src="https://user-images.githubusercontent.com/15874753/36292981-b4e3da56-12a3-11e8-8b02-b818c0a2a9bf.png">

[2018-02-16 04:01] gilgad commented on #71
Dirty data was accidentally introduced into the database and has since been removed. This should not be an issue going forward.

[2018-02-16 04:01] denferg opened #72 "Saved calculations don't persist"
After making changes on the Calculations page, and clicking Save Calculations, the data doesn't appear to be saved. Navigating away from the page and returning shows the data before modifications.

[2018-02-16 04:04] denferg opened #73 "Non-functional Notifications section displayed in sidebar"
Since notifications will not be implemented, the Notifications option in the side bar should be removed and inaccessible.

[2018-02-16 04:09] denferg opened #74 ""Add Category" and "Add Activity" buttons and dialogues are misleading"
Both Categories and Activities pages have two tables, one of which is not editable. Buttons and their corresponding dialogues should be relabelled to "Add Local Categories" and "Add Local Activities" for clarity.

[2018-02-16 04:12] denferg opened #75 "Edit Category and Edit Activity dialogues are mislabelled and confusing"
Clicking "edit" in the Categories tab opens a dialog labelled "Add Category"; in the Activities tab it opens one labelled "Add Activity". Both should be relabelled to "Edit Local Category" and  to "Edit Local Activity" respectively.

When the Edit dialogues are opened, some of the fields are blank, instead of showing the existing entries. In the Category dialogue, changing a Category Code and then

[2018-02-16 04:33] denferg opened #76 "Confusing Add Category and Add Activity dialogues"
The "Add Category" and "Add Activity" dialogues should be relabelled to "Add Local Category" and  to "Add Local Activity" respectively.

In the Category dialogue, changing a Category Code and then selecting an IPCC Category overwrites the user-generated Category Code. This should not happen. It might be best for the Category Code not to be auto-filled at all.

The Category Code field should be rel

[2018-02-16 04:46] denferg opened #77 "Modifying a Notation Key didn't change "User Modified""
The Notation Keys table doesn't show Date Last Modified; it also didn't update the User Modified after the one of the keys was modified (in this case TS).

[2018-02-16 04:52] denferg opened #78 "Searching by Last Modified doesn't work as expected"
It's not clear how searching by Last Modified works—entering a date according to how the dates in the column are displayed yields inconsistent results, at least in the Categories tab.

<img width="1440" alt="screen shot 2018-02-15 at 8 34 39 pm" src="https://user-images.githubusercontent.com/15874753/36293951-2aa52d24-12ab-11e8-895e-81d4255baec5.png">

[2018-02-16 04:55] denferg opened #79 "Confusing error generated when trying to save a duplicated notation key"
When saving a notation key that already exists, a generic error message is generated. The message should indicate that notation keys must be unique, please enter a different key.

[2018-02-16 05:09] denferg opened #80 "Changing inventory data via the Notes Panel changes unique identifier number to 0"
Changing inventory data via the Notes Panel changes each modified row's unique identifier number to 0, even after the changes have been saved. Navigating away and returning to the page restores the numbering.

<img width="1440" alt="screen shot 2018-02-15 at 9 10 45 pm" src="https://user-images.githubusercontent.com/15874753/36294271-96111698-12ad-11e8-8f62-275e3827da17.png">

[2018-02-16 05:13] denferg opened #81 "Save and Discard options not highlighted after inline editing on Data page"
After editing a row inline on the Data page, the row is highlighted as a dirty row, but the Save to Database and Discard Changes buttons aren't highlighted as they are when the data is edited via the Notes panel.

<img width="1440" alt="screen shot 2018-02-15 at 9 23 07 pm" src="https://user-images.githubusercontent.com/15874753/36294348-2ef70160-12ae-11e8-8a58-f30e856d983c.png">

[2018-02-16 05:18] denferg opened #82 ""Saved" notes and notation key didn't persist beyond navigating away from page"
After modifying notes and notation keys for a couple rows of data via the Notes panel on the Data page, clicking Save to Database doesn't seem to keep the data beyond navigating away from the page, even though there's visual indication the changes have been saved (the records and the Save and Discard buttons are no longer highlighted).

[2018-02-16 05:21] denferg opened #83 "NA key not available in Notes panel or inline editing options"
The NA key is not available in Notes panel or inline editing options, even when the Variable Value has been deleted.

[2018-02-22 20:07] paradoxxjm opened #85 "Uncertainty Values overlap with dropdown"
When the activity figures on the screen exceed a specific number of values, they overlap with the drop-down menu.

![ghg-calculations-textoverlap](https://user-images.githubusercontent.com/406181/36561567-091b63c6-17e2-11e8-9c20-a1a5cdbea9eb.png)

[2018-02-25 21:06] paradoxxjm commented on #51
This issue appears to have been address. @gilgad @denferg can you confirm

[2018-02-25 21:06] paradoxxjm commented on #2
Has the User registration workflow now been addressed?

[2018-02-25 21:07] paradoxxjm commented on #13
@matjames007 can you elaborate on this bug?

[2018-02-25 21:08] paradoxxjm commented on #49
@denferg I'm not sure I understand what you mean by the comment or this issue. Can you expound?

[2018-02-25 21:11] paradoxxjm commented on #48
We need to make sure the admin email address is correct.

However, I disagree with the suggestion to remove the machine-readable error. In this case, for this type of system (i.e not consumer facing), we do want the user to email that error to the administrator

[2018-02-25 21:14] paradoxxjm commented on #57
@gilgad is this issue now resolved? If so, @matjames007 can you close it.

[2018-02-25 21:17] paradoxxjm commented on #58
@matjames007 @gilgad we need to make sure we are actually labeling the values. Which of the variables in the screen are the output values?

[2018-02-25 21:17] paradoxxjm commented on #59
Resolved? @gilgad @matjames007

[2018-02-25 21:18] paradoxxjm commented on #60
:+1:

[2018-02-25 21:18] #60 closed

[2018-02-25 21:21] paradoxxjm commented on #61
:ship:

[2018-02-25 21:23] paradoxxjm commented on #65
@denferg can you provide more specifics as to how you would like @gilgad to modify the precision level for the numbers.

[2018-02-25 21:24] paradoxxjm commented on #67
@denferg can you confirm that this is now resolved?

[2018-02-25 21:26] paradoxxjm commented on #69
@gilgad see the recommended UI modifications for labels of the calculations window.

[2018-02-25 21:26] paradoxxjm commented on #71
@denferg can you confirm that this was resolved

[2018-02-25 21:44] gilgad commented on #57
Yes, this issue was addressed.

[2018-02-25 22:30] gilgad commented on #51
this was resolved

[2018-02-26 01:03] paradoxxjm commented on #73
Notifications side bar item**

[2018-02-26 01:04] paradoxxjm commented on #74
@denferg can you confirm that this has been resolved.

[2018-02-26 01:06] paradoxxjm commented on #75
@denferg can you confirm that this has been addressed.

[2018-02-26 01:08] paradoxxjm commented on #76
@denferg confirm completion.

[2018-02-26 06:06] densoutar commented on #48
@paradoxxjm The email address in the screenshot was meant to be a placeholder; it should be replaced with the Climate Change Division's admin/technical support email.

If you're saying that humanising the machine-readable error is not high on the priority list, I reluctantly understand; otherwise—so as not to wrong-foot our non-developer users too much—  consider this tweak for presenting unantici

[2018-02-26 06:09] densoutar commented on #67
Yes; resolved.

[2018-02-26 06:09] #67 closed

[2018-02-26 06:19] densoutar commented on #76
@paradoxxjm incomplete.

[2018-02-26 06:23] densoutar commented on #75
@paradoxxjm  incomplete—only the dialogue labels have been changed.

[2018-02-26 06:23] densoutar commented on #74
@paradoxxjm resolved.

[2018-02-26 06:23] #74 closed

[2018-02-26 06:26] densoutar commented on #51
@paradoxxjm @gilgad I'm not seeing where this has been resolved:

<img width="1440" alt="screen shot 2018-02-26 at 1 24 47 am" src="https://user-images.githubusercontent.com/15874753/36655991-0b651726-1a94-11e8-83b9-0ae51f968010.png">

[2018-02-26 06:33] densoutar commented on #57
This issue was addressed only partially: I can still navigate away unchecked and lose all my changes.

Also, technically we've already established the pattern of changed data being highlighted in blue, in addition to the Save button turning red, from the Data page. We really should be highlighting changes here too.

[2018-02-26 12:19] paradoxxjm commented on #64
@denferg can you confirm.

[2018-02-26 12:23] paradoxxjm commented on #63
:+1:

[2018-02-26 12:23] #63 closed

[2018-02-26 12:26] paradoxxjm commented on #48
Looks good to me.

[2018-03-26 06:51] gilgad commented on #76
@denferg When the category code is changed, what is the expected behavior?

[2018-03-30 01:23] densoutar commented on #65
The Calculations AD value is rounded off to far fewer significant figures than all the other values on the Calculations screen.

It appears one standard of rounding is applied to the AD variable values in Data, another to the AD variable values in Calculation, and a third standard to the AD variable _actually_ used in the computation.

There needs to be one standard for how numbers are displayed a

[2018-03-30 02:19] densoutar commented on #69
A number of key features of the proposed changes are missing: labelling, alignment, and more detailed descriptions.

[2018-03-30 03:00] densoutar commented on #72
**Test Results 2018-03-29**

Of the 5 selected, only 1 persisted. Three of the 5 had resulted in NaN calculations. One of the other 2 had “heads” selected as the unit.

The first attempt to deselect one of the test selections resulted in the deselection of the test selection immediately below it.

None of the “deselections” persisted.

If there are error states that prevent saving, then the user n

[2018-03-30 03:06] densoutar commented on #73
Notifications section still displayed in sidebar.

[2018-03-30 03:52] densoutar commented on #75
In the Edit Category dialogue, the existing sector and IPPC category are still not displayed

[2018-03-30 04:27] densoutar commented on #77
Notation key table still doesn't show Date Last Modified; unable to test updating of User Modified (forgot password for personal account, no reset functionality).

[2018-04-04 21:49] #54 closed

[2018-04-08 22:24] densoutar commented on #69
Implementation does not correspond with mock-up:
- ADs no longer displayed on page load
- There’s no differentiating information for ADs, e.g. “AD (Residential)” can refer to multiple completely different ADs.
- The value of the ADs are not displayed.
- Deselecting items causes them to move to the bottom of the list (unnecessarily confusing).
- Labels do not correspond to mock-up and are confusing

[2018-04-08 22:26] densoutar commented on #65
Unable to test, as AD values are no longer displayed (see comments on #69).

[2018-04-08 22:39] densoutar commented on #72
**Test Results 2018-04-08**

Of the 5 selected, only 1 persisted, displaying the unit “tonne”, despite “kg” being selected.

The “deselections” persisted, but one of the deselected options disappeared from the table entirely.

If there are error states that prevent saving, then the user needs to be informed—NaN results are not saved, neither is there a warning.

_No ADs displayed on page load_
<im

[2018-04-08 22:50] densoutar commented on #71
This issue is likely related to the disappearing row described in the comment I made on 2018-04-08 on issue #72. If that's the case, then we still have a dirty data problem, @gilgad .

[2018-04-09 02:33] densoutar commented on #59
@paradoxxjm Uncertainties are now displayed in the Calculations section; this issue can be closed (I can't close it).

[2018-04-10 18:20] densoutar commented on #69
Updating mock-up based on most recent conversation with @gilgad:

<img width="1226" alt="screen shot 2018-04-09 at 11 22 43 pm - modified" src="https://user-images.githubusercontent.com/15874753/38575760-d14dd5fa-3cc1-11e8-81aa-2d9d0cd309f0.png">

- No column lines, with left-aligned headers
- Headers are a bit heavier than the ADs
- The ADs are prefixed with "AD - "; the EFs are prefixed with "EF

[2018-04-11 02:53] #69 closed

[2018-04-11 02:53] #76 closed

[2018-04-11 17:18] denferg commented on #80
@gilgad This is the same thing that's now happening with inline editing. Funny it's happening now that the Notes panel is gone.

[2018-04-11 17:20] densoutar commented on #81
Notes panel has been removed; this issue is no longer valid.

[2018-04-11 17:59] densoutar commented on #65
AD values displayed are consistent with the values used for calculation; marked as pass.

[2018-04-11 17:59] #65 closed

[2018-04-11 18:00] densoutar commented on #73
Notifications option removed.

[2018-04-11 18:00] #73 closed

[2018-04-11 18:17] densoutar commented on #75
Add Local Category and Edit Local Category dialogues are working as expected.

[2018-04-11 18:17] #75 closed

[2018-04-11 18:23] densoutar commented on #78
Last Modified search works as expected in the  Local Category section, but not in the IPCC Category section @gilgad

[2018-04-11 18:25] densoutar commented on #79
Error message indicates key already exists; passed.

[2018-04-11 18:25] #79 closed

[2018-04-11 18:29] densoutar commented on #80
@gilgad Inline editing doesn't affect the ID any more, but he ID still changes to zero when a correction is made via the Issues panel.

[2018-04-11 18:41] densoutar commented on #82
@gilgad:
- [ ] Modified Notes, Notation keys *and* Regions do not persist after clicking Save to Database and navigating away from the page.
- [ ] When selecting "St. Andrew" in the Regions drop down, the selection switches to "Jamaica" when Save to Database is clicked.

[2018-04-11 18:42] densoutar commented on #83
NA key is now available NK drop down; passed.

[2018-04-11 18:42] #83 closed

[2018-04-11 18:46] densoutar commented on #69
@gilgad @matjames007:

- [ ] The year is missing from the AD label (refer to first mock-up); given that the data spans multiple years, this needs to be included.
- [ ] The units are also missing from the AD variable values.

This issue shouldn't be closed yet.

[2018-04-11 19:04] densoutar commented on #72
**Test Results 2018-04-11**

Of the 5 selected, only 1 persisted, but instead of displaying the selected unit, it displayed a different one.

Deselecting the test one selection that was "saved" persisted, as did deselecting the only selection under the AD that was present before the test (which retained the selected unit).

[2018-04-11 19:14] densoutar commented on #72
@gilgad I see where some ADs have no EFs listed. Is this to avoid the NaN issue?

Does this mean I **don't** need to create an issue for save errors, since based on our last conversation, unit selection is optional?

[2018-04-11 19:18] denferg opened #90 "Users allowed to create new local activities, but unable to save them"
Attempts to create and save a Local Activity produce an error message.

<img width="1440" alt="screen shot 2018-04-11 at 1 09 20 pm" src="https://user-images.githubusercontent.com/15874753/38638184-140362ee-3d93-11e8-8234-6e80406c4d74.png">

@paradoxxjm please add this issue to the Project Close milestone

[2018-04-11 19:19] densoutar commented on #90
Not sure if this is happening because no IPCC Activity is selected. IPCC Activity selection should be optional.

[2018-04-11 20:07] denferg opened #91 "Inventory Manager should be asked to confirm irreversible close inventory action"
- [ ] After clicking Close Inventory, the user should be warned that the action is irreversible, and asked to confirm that they want to close.
- [ ] After choosing to close, the user should be advised that the system has closed the inventory.
- [ ] Only the users with Inventory Manager roles should have the ability to close an inventory.

Replace <INVENTORY NAME> with the Inventory Name entered in

[2018-04-11 20:09] densoutar commented on #91
@paradoxxjm Please add the issue to the Project Close milestone and assign.

[2018-04-11 20:26] denferg opened #92 "Ensure role privileges work as described in the user guide"
- [ ] Ensure roles work as described below:

<img width="524" alt="screen shot 2018-04-11 at 3 19 22 pm" src="https://user-images.githubusercontent.com/15874753/38641109-cac71180-3d9b-11e8-9ab2-fd206ed39978.png">

- [ ] Close Inventory needs to be removed from the Data page and placed in the Inventory Control tab under Settings.
- [ ] Ensure that Close Inventory actions apply to the entire invento

[2018-04-11 22:58] denferg opened #93 "Implement password reset workflow"
Implement a password reset flow as described below:

- Errors: indicate if email address entered on the Reset Request page does not match system records, or is invalid.
- Do not enable Send Reset Request button until email entered is valid and in the system.
- Do not enable Change Password & Log In button until email entered is valid and in the system, and Password and Confirm Password entries mat

[2018-04-11 23:02] denferg opened #94 "Attempt to create new account produced unexpected errors"
See screen shots for details; the second error message in red came up after I dismissed the first error.

@paradoxxjm Please add to Project Close and assign.

<img width="1440" alt="screen shot 2018-04-11 at 3 51 37 pm" src="https://user-images.githubusercontent.com/15874753/38647538-69ed2928-3db2-11e8-9a70-0440235f863a.png">
<img width="1440" alt="screen shot 2018-04-11 at 3 52 05 pm" src="https:

[2018-04-12 04:43] gilgad commented on #72
before we were getting NaN's because a  value was not saved in the database for the AD and the system attempted to do the calculation anyway. This doesn't happen anymore.

If EF's are not listed it is because the system did not find any associated EF's for that AD.

[2018-04-13 07:20] densoutar commented on #85
@paradoxxjm resolved; please close this issue.

[2018-04-13 07:22] densoutar commented on #51
Resolved

[2018-04-13 07:25] densoutar commented on #62
@paradoxxjm resolved; please close.

[2018-04-13 07:31] densoutar commented on #72
Problem remains, plus application still allows me to navigate away from Calculations page while I have unsaved changes.

[2018-04-13 07:33] densoutar commented on #77
Still unresolved.

[2018-04-13 07:34] densoutar commented on #80
Still unresolved

[2018-04-13 17:48] #85 closed

[2018-04-13 17:48] #71 closed

[2018-04-13 17:49] densoutar commented on #71
Resolved

[2018-04-13 17:50] #62 closed

[2018-04-13 17:56] densoutar commented on #59
@gilgad Please confirm with @matjames007 : the Uncertainties displayed in Calculations section are themselves calculated, correct? Currently the Uncertainties in Calculations have the same values as those in Data. Is this just coincidence, or are the Uncertainties displayed in Calculations copied from those in Data?

[2018-04-13 22:47] densoutar commented on #92
Close Inventory options are no longer displayed—even when logged in with Admin or Manager roles. @gilgad

[2018-04-13 22:49] densoutar commented on #91
Unable to test; inventory close options no longer displayed (see comments #92).

[2018-04-13 22:51] densoutar commented on #90
Confirmed resolved.

[2018-04-15 06:05] gilgad commented on #92
Close inventory has been moved to the Inventory Control tab under Settings.

[2018-04-15 11:39] #77 closed

[2018-04-15 11:39] #80 closed

[2018-04-16 00:04] #93 closed

[2018-04-16 01:42] densoutar commented on #94
Just tried this again: after the error in red is displayed, I clicked Cancel and nothing happened. It was supposed to return me to the Log In screen.

[2018-04-16 02:31] densoutar commented on #72
**Test 2018-04-15**

_Issues_

- Was able to select 6 previously unselected EFs, chose units for only 3, and save selections without any errors being generated.
(Subsequent attempts to save selections without units triggered the Units Missing warning)
- Navigated away from and back to the Calculations screen. Saved selections did not persist.
- Was able to select previously unselected EFs and navi

[2018-04-16 02:32] densoutar commented on #77
Resolved

[2018-04-16 02:41] densoutar commented on #80
Resolved

[2018-04-16 02:46] densoutar commented on #93
Received the error below when I attempted to reset my password. Please confirm if this valid error, of if it's due to the nature of the test environment @gilgad

<img width="1440" alt="screen shot 2018-04-15 at 9 02 11 pm" src="https://user-images.githubusercontent.com/15874753/38787900-63ce6fd8-40f6-11e8-9631-8f0a5cae538e.png">

[2018-04-16 03:18] densoutar commented on #64
Partially resolved. Resolved issues are:
- Only admin and manager roles have option to close inventory
- Attempt to close inventory triggers confirmation

Unable to test the following (not sure if closing the inventory would interfere with troubleshooting other issues currently waiting to be addressed):
- ability to edit a closed inventory
- whether closed inventory is tagged as closed
- whether o

[2018-04-17 20:45] densoutar commented on #72
@gilgad While putting together the revised guide I observed that:

- Attempting to save selected calculations triggers a Units Missing warning, even when all the units have been selected.
- Still being "prompted" to save even when unsaved selections have been deselected/unsaved deselections are reselected.
- Units are still missing for the ADs.
- The "name" of the AD (in the Activity Data / Emissi

[2018-04-23 13:29] densoutar commented on #72
@gilgad

**Test 2018-04-23**
Modified selections under "AD - Commercial/Institutional - Kerosene - 2010"

_Issues_

- Deselected previously selected EFs, OKed Unsaved Changes warning, and navigated away from page. Changes were still saved.
- When deselecting previously selected EFs they move unpredictably down the EF list.

_Passed_

- Selected previously unselected EFs and saved them.
- Attempt t

[2018-04-23 13:32] densoutar commented on #64
@gilgad  confirmed it should not be possible to re-open an inventory after an inventory is closed. If values need to be updated, that will be done in the next inventory.

Will consider this issue resolved.

[2018-04-23 13:32] #64 closed

[2018-04-23 18:00] #72 closed

[2018-04-23 18:40] densoutar commented on #72
Resolved